[2016-06-14 01:47] falun opened #1 "Odd decoding behavior"
Hi there!

First off thanks for this -- it solves a problem I was about to have with `gorilla/schema` (lack of keyed map support) but I hit a different problem with `form`.

I've attached what I'm pretty sure this is an error case but I could be using it incorrectly, would appreciate some guidance.  The tl;dr is that when you have a slice of a struct there seems to be a different decoding behavior

[2016-06-14 02:04] joeybloggs commented on #1
I will look into this right away, strange that the first case is not set.
[code]

[2016-06-14 02:20] joeybloggs commented on #1
Thanks for this @falun

it was an issue with the traverseStruct, I only set values when fields exist and was setting the bool that tells the calling func to set the value or not on every field of the struct; since `Struct2.Bar` returned false, the value was not set, even though it was created. I have corrected to return true to set if any field was valid.

fixed in commit d77a15c9ed9b21e97f6587bae

[2016-06-14 02:31] #1 closed

[2016-06-14 07:31] falun commented on #1
Wooo. Awesome turn around, thanks :)

Ran through my test to verify it works as expected. Will pipe up if I hit anything as I start trying to integrate into my actual codebase.

[2016-06-14 09:38] joeybloggs commented on #1
Fantastic and thanks again.

If you also need validation for those newly decoded Struct values you can take a look my validator library if your interested; it's low level and handles anything you can throw at it.

[2016-06-21 10:53] justinas opened #2 "Starting an array at an arbitrary number is an opportunity for DoS attacks"
I'm referring to this feature here:

If a user submits a key like `Array[1234567890]`, the application will allocate over 1G of memory just for this single request. Of course, no one is stopping users from putting an even higher number as an index.

This snippet demonstrates the problem:
[code]

The RES usage of this application spikes to 1220MB.

[2016-06-21 11:23] MattDavisRV opened #3 "Support for multipart/form-data? Yes"
Do you have any plans to support multipart/form-data and file uploads with this package?

[2016-06-21 11:33] joeybloggs commented on #2
Although I do think it is a little outside of the scope of this library, I do agree if someone's endpoint were not secured, or a man in the middle attack were to cause this it could be a real issue.

I will look at adding a sane default array limit for decoder, say 10,000 or something (also allow it to be changed if more or less is desired) and return an error for that particular field if the limi

[2016-06-21 11:59] joeybloggs commented on #3
I am investigating adding a separate function to aid in extracting file uploads, but not directly in the Decode portion, too many variables like some people may want to store file in Struct, others not and on disk but store file details....

As for multiparty/form-data, it already supports it! :), [here is a link](https://github.com/go-playground/lars/blob/master/context.go#L456) to my lars router

[2016-06-21 14:10] joeybloggs commented on #2
ok @justinas  global array limit has been added to avoid/limit this potential issue.

now your program will output `Field Namespace:Array ERROR:Array size of '1234567891' is larger than the maximum currently set on the decoder of '10000'. To increase this limit please see, SetMaxArraySize(size uint)` by default.

and can adjust the limit by calling `SetMaxArraySize(size uint)`

Thanks for reportin

[2016-06-21 14:14] justinas commented on #2
Seems sensible. Thanks for the quick response!

[2016-06-21 14:14] #2 closed

[2016-06-21 14:15] joeybloggs commented on #2
No thank you! @justinas I'm a huge proponent of open source, but it only works when people collaborate and contribute 😄

[2016-06-28 14:38] bikbah opened #4 "No support for *time.Time"
There is no support for `*time.Time`, but there is for `time.Time`

[2016-06-28 14:56] joeybloggs commented on #4
Hello @bikbah

`*time.Time` should be supported, It is tested for within the tests [here](https://github.com/go-playground/form/blob/master/decoder_test.go#L507), [here](https://github.com/go-playground/form/blob/master/decoder_test.go#L534) and [here](https://github.com/go-playground/form/blob/master/decoder_test.go#L607)

perhaps you could provide a code sample where it is not working, it's poss

[2016-06-28 22:35] bikbah commented on #4
I am really sorry. :( It works for pointers. I was passing empty string and trying to parse it as proper `time.Time`.

[2016-06-28 23:08] joeybloggs commented on #4
No problems @bikbah, if you ever have any questions or think there's an issue don't hesitate to ask :)

[2016-06-29 03:20] joeybloggs commented on #3
Did this work for you @MattDavisRV ?

[2016-06-29 13:45] bikbah commented on #4
OK, I found bug. There is no initialization of pointer to `time.Time` field on default decoder even for valid time string. Here are my tests, put it to `decoder_test.go` and run. `TestDecoderTimePointerDefault` fails, but `TestDecoderTimePointerCustom` does not.

`go
func TestDecoderTimePointerDefault(t *testing.T) {
	type TestStruct struct {
		Time    time.Time
		TimePtr *time.Time
	}

	values :=

[2016-06-29 13:52] joeybloggs commented on #4
I'll take a look right away

[2016-06-29 14:05] joeybloggs commented on #4
OK @bikbah

thanks for reporting, I have corrected in commit 762ce96aa9e35c0f3e10fe0265e6106e59ff9a03, please pull the latest code.

fortunately it wasn't a logic problem, I merely forgot to set the `set` variable to true after assigning, so the proceeding code though there was nothing to set on the struct field. [see here](https://github.com/go-playground/form/blob/master/decoder.go#L557) for the

[2016-06-29 14:11] #4 closed

[2016-06-29 14:12] bikbah commented on #4
Yeah, it works well. Thanks for quick response. :)

[2016-07-03 19:53] joeybloggs commented on #3
Closing due to lack of response.

[2016-07-03 19:53] #3 closed

[2016-07-14 16:43] themihai opened #5 "How does it compare with go-query/ gorilla schema?"
https://github.com/gorilla/schema
https://github.com/google/go-querystring

[2016-07-14 16:49] joeybloggs commented on #5
There is a link in the README to competitor benchmarks, which includes gorilla schema, here it is for convenience [benchmarks](https://github.com/go-playground/form/blob/master/benchmarks/benchmarks.md)

As for go-querystring I'll have to add some benchmarks, keeping in mind that form also does decoding as well as encoding

[2016-07-25 13:19] themihai opened #6 "slice, array: interface must be a pointer to a struct"
It seems slice and array types are supported only on struct properties.

[2016-07-25 13:24] themihai commented on #5
It seems the syntax is also different.(e.g. gorilla schema doesn't require brackets on slices/arrays )

[2016-07-25 13:24] #5 closed

[2016-07-25 13:28] joeybloggs commented on #6
Hey @themihai

currently that is correct, as the description states `Package form Decodes url.Values into struct values`

however, it actually might not be that hard to also decode directly into variables such as arrays or maps.

I will look into the possibility of adding this tonight after I get off work; thanks for the idea.

[2016-07-25 13:36] themihai commented on #6
You're right! I was quick to jump on the "Supported Types" section instead to read documentation more thoroughly.  Support for direct values would be nice as it would put query encoding on par with the other formats(i.e. json).

[2016-07-25 13:41] joeybloggs commented on #5
Hey @themihai

just so you know brackets on slices/arrays are not required, that is just an option both the normal form and bracketed arrays are supported

[2016-07-25 18:33] themihai commented on #6
I've tried a quick  decoding implementation of direct struct slices(just[ hooked-up t](https://github.com/go-playground/form/compare/master...themihai:master#diff-55a9605dc991cf8a53157ad108bb9968L111)he slice decoding method into the main Decode function) but unfortunately some tests([see the commented out lines](https://github.com/go-playground/form/compare/master...themihai:master#diff-d477aef9b

[2016-07-25 18:41] joeybloggs commented on #6
Hey @themihai

It is a good attempt, I think you just may be overcomplicating it; all of the logic already exists to parse slices and maps, what I was thinking was change [this line](https://github.com/go-playground/form/blob/master/form_decoder.go#L112) to call [setFieldByType](https://github.com/go-playground/form/blob/master/decoder.go#L172)

and the rest should handle itself, at least that's t

[2016-07-25 19:10] themihai commented on #5
I've tested `&Phones.0.Label=x&Phones.0.Number=1&Phones.1.Label=y&Phones.2.Label=z&Phones.2.Number=3` and it failed to decode it. Do you mean slices without brackets and without indexes too ?
I think without indexes the data structure is getting messed up because the map keys are unordered. How would the the query below decode?
`&Phones.Label=x&Phones.Number=1&Phones.Label=y&Phones.Label=z&Phones.

[2016-07-25 19:16] joeybloggs commented on #5
@themihai , sorry I misunderstood yes it supports slices without brackets or indexes

but if you are trying to fill an array of a complex type i.e. `struct` then brackets with indexes are required.

i.e. if trying to populate a simple array of `Label []string`
`&Label=lbl1&Label=lbl2...`

[2016-07-25 19:17] themihai opened #7 "Decode shouldn't panic"
It seems that Decode panics if it receives invalid input. It is not idiomatic go and should be refactored using return errors. Otherwise at least the behaviour should be documented so that the caller can guard it with recover.

[2016-07-25 19:26] joeybloggs commented on #7
I think if I can get #6 working the panic will just go away; however the panic is there to ensure that a bad type is not passed in for decoding because it's of type `interface{}` you could pass anything.

I was trying to avoid mixing decoding errors and a top level error so:
[code]

[2016-07-26 03:01] joeybloggs commented on #6
Hey @themihai just an FYI, I've completed the Decoder portion of these changes and if all goes well will finish up making the same changes to Encoder in the morning.

[2016-07-26 05:10] themihai commented on #6
Indeed, it was easier than I thought!  Looking forward for the updates! With this change the encoder supports pretty much any valid data type including basic types.

[2016-07-26 14:29] joeybloggs commented on #7
Hey @themihai this change has been made is in [Release 2.0.0](https://github.com/go-playground/form/releases/tag/v2.0.0)

if there are any issues please don't hesitate to reopen.

[2016-07-26 14:29] #7 closed

[2016-07-26 14:29] joeybloggs commented on #6
Hey @themihai this change has been made is in [Release 2.0.0](https://github.com/go-playground/form/releases/tag/v2.0.0)

if there are any issues please don't hesitate to reopen.

[2016-07-26 14:29] #6 closed

[2016-07-27 21:27] joeybloggs commented on #6
Hey @themihai just checking to make sure this is working out for you?

[2016-08-05 10:17] danhardman opened #8 "<input type="checkbox"> decoding?"
How does this package manage decoding of checkbox values as type `bool`? When parsing forms myself, I've always had to create a utility function to parse checkbox values:

[code]

Any light shed on this would be appreciated!

[2016-08-05 11:11] joeybloggs commented on #8
hey @danhardman

I completely get where you're coming from, I've had the same troubles where the value passed down is `on` or `off` and Go's [strconv.ParseBool(...)](https://golang.org/src/strconv/atob.go?s=351:401#L1) doesn't handle those values.

so my [parseBool, seen here,](https://github.com/go-playground/form/blob/ec9eaa926768446bbd1e7f8fbc549027fc3b83ce/util.go#L34) handles all of Go's stan

[2016-08-05 12:10] danhardman commented on #8
That seems to work fine on my tests, thanks for the info!

[2016-08-05 12:10] #8 closed

[2016-08-12 10:57] danhardman opened #9 "Decode form to specific field?"
Say I have the following struct:

[code]

Am I able to decode form data to only the `Address` field? Like so:

[code]

Assuming the form data provided is in a suitable format for the `User` struct.

[2016-08-12 11:58] joeybloggs commented on #9
Hey @danhardman

it depends, if the form values are passed down in the form `Address.City` then yes it will work like you want.

however if the values are passed down in form `User.Address.City` then it will never match the struct namespace to the url key values; and as you mentioned the form data provided would be in the format for `User` and so it would not work.

Am I right in assuming that you

[2016-08-12 12:14] danhardman commented on #9
@joeybloggs Yes, I would be creating the form for the user, so I'd have fields like:

[code]

But for this example, say I only want the request to update the User's address. I'd like to do

[code]

I'd prefer not to have to create a separate struct, even if it was anonymous, simply because I may have to do this quite a bit and it would get tedious

[2016-08-12 12:21] joeybloggs commented on #9
@danhardman

your HTML would have to be like:
[code]

form starts at the field level with structs.

[2016-08-12 12:22] danhardman commented on #9
@joeybloggs

Ah that's what I figured, no problem. Thanks!

[2016-08-12 12:22] #9 closed

[2016-08-12 12:24] joeybloggs commented on #9
@danhardman glad I could help 😄  don't hesitate to ever ask anything ( can't promise to always be this prompt but... )

[2016-08-12 12:31] danhardman commented on #9
@joeybloggs Honestly I'm amazed at the responses I've been getting on this repo. Others aren't nearly as helpful! Hopefully I can spend more time contributing instead of creating issues in future ;)

[2016-08-22 11:28] annismckenzie opened #10 "Option to ignore all struct fields not explicitly tagged via struct tag"
In the README there's a section about ignoring fields by tagging them with `form:"-"`. Would it be possible to add an option to the decoder (like `SetTagName(tagName string)`) to ignore all struct fields not explicitly tagged with `form:"fieldName"` (or the custom tag name if set)?

The problem I see is the unintended injection of data because this library is used with user-generated content and a

[2016-08-22 12:58] joeybloggs commented on #10
Hello @annismckenzie

I see how it may be beneficial to add and explicit mode for some, Think it would be pretty easy, and would also make sense to add to the encoder portion as well.

Just need to add a function say `SetMode(mode DecoderMode)` ( DecoderMode being an enum type, just in case of maybe future modes to be added ) and your mode would be `DecodeExplicit`

and then in [here](https://gith

[2016-08-22 15:27] annismckenzie commented on #10
Thanks for taking the time to write this up! And yes, I will take a stab at it later to get into the codebase. :]

[2016-08-23 21:25] joeybloggs commented on #10
hey @annismckenzie

just so you know I implemented this in release [v2.2.0](https://github.com/go-playground/form/releases/tag/v2.2.0)

please try it out and let me know if this is all you need 😄

[2016-08-24 11:07] annismckenzie commented on #10
You're awesome! :dancers: I will take a look!

[2016-08-24 15:25] annismckenzie commented on #10
Duh, I'm such a dummy. Just turned on the explicit mode and my whole test suite broke. Namely there are certain structs where I don't have control over the tags (gRPC's compiled proto files) that I'm using in my form structs as well and where I don't want to duplicate whole files (also, these are statically typed so I'm fine with and know what's settable and what's not). Booh. So, while this certa

[2016-08-24 15:28] joeybloggs commented on #10
no problems @annismckenzie

just an idea, but you could have more than once instance of `decoder` or `encoder` and set one instance to Explicit and then you could use each where needed :)

[2016-08-24 15:28] #10 closed

[2016-08-24 15:32] annismckenzie commented on #10
That is a very very good suggestion – thanks! 👯

[2016-09-14 21:25] danhardman opened #11 "How to add a new item to a slice?"
In a HTML form, how do I represent a new (to be added) item for a slice?

I've tried `name="Languages[].Country"`, where the index isn't defined. As well as providing an index that doesn't exist, neither seem to work.

[2016-09-14 22:48] joeybloggs commented on #11
Hey @danhardman would you be able to provide a little more example code? It's hard to tell exactly what you're trying to accomplish without a little more context.

Eg. The Struct definition, is it being decoded into a struct, an array... that sort of thing

[2016-09-15 08:38] danhardman commented on #11
@joeybloggs No problem.

[code]

Say I have a form to update a user, all `<input />` fields are constructed around User's struct definition, including all the languages the user knows in the form of:

[code]

Where an indexed reference to each known language exists in the form. I can update pre-existing languages by editing the value and posting the form which decodes the form into the struct of a

[2016-09-15 09:12] danhardman commented on #11
Fixed. Was my fault, specifying the input without an index does append the item onto the slice during decode.

I was simply passing the form as a `multipart/form-data` but not parsing it as such so the form was coming across empty.

[2016-09-15 09:12] #11 closed

[2016-09-15 10:44] joeybloggs commented on #11
@danhardman glad you could solve your problem :smile: I think we all have these moments from time to time.

[2016-10-13 15:18] danhardman opened #12 "Registering multiple DecodeCustomTypeFuncs against a type"
Is it possible to register multiple custom types on the same type? I want to accept multiple ways of passing a `time.Time` type in separate use cases.

I've tried registering them procedurally:

[code]

And that didn't work, it tries to use the first one. If it's not currently possible, can this be a feature request? When multiple `DecodeCustomTypeFuncs` are registered to a type, you could iterate

[2016-10-14 01:59] joeybloggs commented on #12
Hey @danhardman

I don't think it would be a good idea to register multiple, but rather, why not check both time formats in your custom function?

eg. if first time.Parse format fails, try the second

[2016-10-14 09:49] danhardman commented on #12
@joeybloggs Hadn't actually thought of that.

You know that moment when you get in the mindset of doing it the way the library and you forget about the language way? Maybe it's just me! haha should work fine, thank you!

[2016-10-14 09:49] #12 closed

[2016-10-14 11:03] joeybloggs commented on #12
No problem @danhardman we all have those can't see the forest because of the trees moments ;)

[2016-12-03 12:19] mrLSD opened #13 "How to fetch errors to End user?"
I want using your awesome libraries: form + validation
Let's imagine common situation:

HTML:
[code]

Go code:
[code]
It's error message:

But useful situation to indicate end-user about validation problem.
At the example I need indicate field Age with message something like: `please enter correct age.`

What you think about that?

[2016-12-03 21:27] danhardman commented on #13
If there's errors decoding the request, it's because you either constructed the form wrong, or your users are putting in shitty values. Return an error saying bad request.

If you want more detailed errors, stick a Validate() func or OK() func on your User struct that checks all its values are valid and returns a slice of errors if any values are wrong, then you can pass those down to the user.

I

[2016-12-03 22:05] joeybloggs commented on #13
Hey @mrLSD

@danhardman's answer is part of the answer, there should definitely be some sort of logic client side to disallow bad input, however that's not always possible and sometimes things get missed.

form's error's are really a map of the fields namespace in the struct and the actual error [see here](https://github.com/go-playground/form/blob/master/form_decoder.go#L15) and you can, based on

[2016-12-03 22:36] mrLSD commented on #13
@danhardman, thank you for the recommendation!

@joeybloggs, excellent answer! I'll try second variant.
Thank you!

[2016-12-03 22:36] #13 closed

[2017-02-10 04:33] fastest963 opened #14 "CustomTypeFunc is not called when struct contains keys in query"
If you have a query of `b[0].Foo=1&b[0].Bar=2` and `b` is a custom struct then my CustomTypeFunc won't be called. However, if the query is `b[0]=Foo%3D1%26Bar%3D2` then it works as expected, but I can't expect the caller to know which structs are custom and which aren't.

Test/example case:
[code]

[2017-02-10 05:12] joeybloggs commented on #14
Hey @fastest963 thanks for reporting,

I think I know what's going on, I never thought anyone would use the custom type function in this manner... quite interesting :) it's really used to map single value types or primitives, but I can see how this would be useful.

I'll take a look at it tomorrow afternoon and see what I can come up with to make this work.

The crux of why the custom function doe

[2017-02-10 14:05] fastest963 commented on #14
Yeah after glancing at the code, I realize that would be pretty hard to even know that those fields are there to pass the function. Ideally I could get all of the fields that were tried to set on `B[0]` in the form of the `[]string` but that's probably a breaking change so I'm not sure. This might just not be realistic.

Right now, in the interim, I have a function that collects all of the `B[0].*

[2017-02-10 18:42] joeybloggs commented on #14
Hey @fastest963 so I've been looking and thinking about this a bunch and come to a few conclusions:

It would be possible to handle this in the pre-parsed phase of the url.Values, but in doing so all values would need to start being grouped by namespace, eg. text between the periods

There are a few problems with this though the library would become 2-3x slower, possibly more because there is no g

[2017-02-11 16:14] fastest963 commented on #14
Yeah, that's what I'm currently doing essentially.

I don't think that's worth the benefit unless the slower mode could be optionally turned on.

Yeah, I don't disagree with you. I just expected custom structs to work the same as regular structs. If I do `B[0].C=test` then the `C` field on `B` is set to `test` but the custom function can't handle fields like this.

I agree with everything else you

[2017-02-12 00:01] joeybloggs commented on #14
Thanks @fastest963 for all your feedback! :smile:

I agree with everything else you said but disagree with this sentence. While JSON would (and is) be a much better format for this type of data, there are cases in which you can't use JSON. Our service actually prefers JSON but we need to actually be able to accept the data via JSON and via url parameters because of external restrictions.

After re

[2017-02-13 01:39] joeybloggs commented on #14
Hey @fastest963

ok so I gave this a try without success; it caused a lot of other problems and adds some more confusion as well because if a custom type is found the function is called and then the code continues on without diving into the struct and so if any other `url.Values` that should get st on the struct, they won't.

I think that it is best to keep the library as is and provide a document

[2017-02-13 01:53] #14 closed

[2017-04-09 19:23] danielchatfield opened #17 "Encode struct fields with `foo[bar]`"
Whilst I understand why `foo.bar` may be preferable, it would be useful to be able to configure the encoder to output struct fields as `foo[bar]` is this is the format that lots of other systems expect (e.g. ruby).

Happy to submit a PR if you can point me in the right direction.

[2017-04-09 21:57] joeybloggs commented on #17
Hi @danielchatfield

I definitely want to keep the default working as is, but am open to different output modes; I'll need a little more information though, like:

- Does or how does ruby handle or need it formatted for nested structs?
- How does ruby handle arrays and maps?

Any other information would be helpful :smile:

[2017-05-11 11:01] michael2m opened #18 "Support "omitempty" on form tag"
Support `form:"foo,omitempty"` to skip default values from encoding/decoding. This aligns e.g. with JSON encoding/decoding behavior.

[2017-05-11 12:05] joeybloggs commented on #18
Just to confirm you mean for the encoder portion?

great idea for an enhancement :) I'll look into it

[2017-07-28 12:03] danielchatfield opened #19 "Support embedded structs"
I think it is desirable for the behaviour of decoding into `A` and `B` to be identical. I.e. fields of embedded structs are treated as if they were fields of the outer struct.
[code]

[2017-07-29 16:09] joeybloggs commented on #19
Thanks @danielchatfield

I'll check into this, might be a little while and I have to make Decode changes as well and deal with these sorts of scenarios:
[code]

P.S. sorry for the lateness of my reply, super busy with new job and moving.

[2017-07-31 00:44] #18 closed

[2017-07-31 00:44] #19 closed

[2017-07-31 00:51] joeybloggs commented on #18
@michael2m this feature has been added in [release 3.0.0](https://github.com/go-playground/form/releases/tag/v3.0.0)

[2017-07-31 00:51] joeybloggs commented on #19
@danielchatfield this feature has been added in [release 3.0.0](https://github.com/go-playground/form/releases/tag/v3.0.0)

[2017-09-11 03:35] vearutop opened #21 "Cast empty string to bool false"
In some languages (for example PHP) string representation of `false` is `''`.

When request from such env comes to go api using `go-playground/form` bool parsing does not work properly. It skips parameter without setting anything to result. For `bool` type it is ok, it already has `false` as zero-value. But for `*bool` default value is kept to `nil` which is wrong.

It is impossible to distinguish

[2017-09-11 04:35] #21 closed

[2017-12-14 07:19] sunfmin opened #23 "Multipart Form Support"
Client posted JavaScript `FormData` object, which will be put into https://golang.org/pkg/mime/multipart/#Form

Which should properly converted to struct like?

[code]

[2017-12-16 16:56] joeybloggs commented on #23
Hey @sunfmin currently this library only deals with the `Form.Value` portion of the [Form](https://golang.org/pkg/mime/multipart/#Form) which is actually a https://golang.org/pkg/net/url/#Values

There are several reasons for that:
- wanted to keep it generic so it works with and `url.Values` including `http.Request.Form` and `http.Request.PostForm`
- most people are going to handle files differen

[2017-12-17 07:46] #23 closed

[2017-12-25 10:37] themihai opened #24 "omitempty is not working properly"
If you add omitempty it omits/ignores the decoding regardless if the field is empty or not

[code]

Run the program
[code]

[2017-12-25 15:18] joeybloggs commented on #24
Hey @themihai
I just copied and pasted your code and the results were:
[code]

Are you sure you have the latest version of the code?

if you do, what setup are you running, OS, Go version, etc...?

I'm running:
[code]

[2018-01-16 08:59] Xzya opened #25 "Parse string/int into interface{} ?"
Hello,

I need to support an older version of an API which supported both `application/json` and `application/x-www-form-urlencoded` requests, and some of the request parameters had inconsistent types, e.g. it could be sent as a number or a numeric string. So in order to support both json and forms, as well as numeric strings and numbers, I changed the parameter type to `interface{}`, however, it

[2018-01-16 16:59] joeybloggs commented on #25
Hey @Xzya thanks for asking/reporting I think it's getting stuck [here](https://github.com/go-playground/form/blob/master/decoder.go#L208) because of the field type being interface.

I can definitely see how this would be useful in your scenario, I'll look at updating the code to just set the value when the kind/type is `interface{}`; it may be a few days though.

hang tight 😄

[2018-02-01 14:48] joeybloggs commented on #25
@Xzya just letting you know I haven’t forgotten about this, just been super busy.

[2018-02-02 19:20] Xzya commented on #25
Hey @joeybloggs,

No worries. I currently have an ugly patch in place using reflection, but it would be nice for the library to do this automatically.

[code]

Thanks!

[2018-02-03 18:58] joeybloggs commented on #24
@themihai have you have a chance to see if you're using the latest version?

[2018-02-04 18:06] joeybloggs commented on #25
@Xzya I added setting of form values, string only, into interface values in [release 3.1.0](https://github.com/go-playground/form/releases/tag/v3.1.0)

unfortunately unlike in JSON where we can know if it's a number or string value because of it's quoted there is just no way for the library to tell what it should be, so I'm only setting the string value.

Let me know if this works for you :)

[2018-02-04 19:54] Xzya commented on #25
Looks good, thank you!

[2018-02-04 19:54] #25 closed

[2018-02-05 15:44] ansel1 opened #27 "Support DisallowUnknownKeys option"
Not crazy about the name, but essentially an option like gorilla/schema's IgnoreUnknownKeys option.  Useful for really strict validation of incoming query params.

[2018-02-05 16:08] joeybloggs commented on #27
💡 I like the idea @ansel1

I’ll have to think about how to implement as this library sets the data from the structs perspective and not the incoming data, but I’ll figure something out

[2018-02-05 22:22] ansel1 commented on #27
maybe add a slice or map to `decoder` to track used keys, then compare to original values at the end of Decoder.Decode()

[2018-04-04 23:04] powerman commented on #7
I'm not sure you've fixed right thing here.

Decoder may panic when called with nil or non-pointer param because calling it this way is an obvious bug in caller's code, and panic is here exactly for such case.

At same time decoder must not panic on wrong user input (field names with unmatched brackets) - this must be handled by returning an error.

[2018-04-04 23:39] powerman opened #28 "Add strict mode"
While for most apps loose decoding is acceptable (and may be even preferable for speed), some require strict checking of form params (for ex. OAuth2 spec require this), and some other may like to enable it to make it easier to catch some bugs (like sending param with typo in name which now gets ignored by default and such bug may not be noticed for some time).

Returning new errors triggered by st

[2018-04-05 00:01] powerman commented on #28
First two items in above list cover case when decoder ignore existing values, last item cover case when decoder ignore missing value.

First item is special because there is no way to tie error to known field name. As there is a chance client will show only errors for known field names (often happens when errors are rendered near related field in form) plus at least one general error (which may ha

[2018-04-05 04:51] joeybloggs commented on #28
Hey @powerman, first off love the enthusiasm!

I do have a lot of questions and recommendations, but am super busy so will do a quick brain dump now and try to formalize later.

Once I get to issue #27 that should solve the unknown fields.
Not looking to add validation like rules to this off the top of my head.
As for the rest why can't you use go-playground/validator for the verification of field

[2018-04-05 12:58] powerman commented on #28
To me it looks like people try/want to detect unknown fields because they think they'll get strict validation of request parameters this way, but checking only for unknown fields won't detect all possible issues with request parameters, while solution proposed here looks complete and should do the trick.

What do you mean?

validator runs after form and have no idea about existence of original url

[2018-04-05 16:04] powerman commented on #7
BTW, looks like there a couple more errors should be converted to panics (because they're bugs in caller's code):
- `"Unsupported Map Key …"`
- `errArraySize`

[2018-04-06 01:18] powerman opened #29 "Panic on decoding to array"
This test panics (even if one of `"A"` or `"A[1]"` lines will be removed):
[code]
[code]

[2018-04-06 01:28] powerman opened #30 "Combining slice with slice[idx] doesn't work"
When there are params both with and without index for same slice only params without index are decoded. Not sure, maybe this is intentional, but I haven't seen this in doc.
[code]

[2018-04-06 03:17] powerman opened #31 "Incorrectly decode to embedded field"
If same field exists both in parent and embedded struct and url.Values has value only for parent then decoder incorrect set embedded field to same value.
[code]
If we will add `"Embed.A":{"two"}` or keep only this one and remove `"A": {"one"}` then it'll work as expected.

[2018-04-06 14:49] joeybloggs commented on #28
Thanks for clarifying the validation, it's less data validation and more attack and threat detection.
I definitely want to integrate some if not all of these ideas, I just have to think of how I want to integrate the changes and not slow down performance.

As for the other issues you've opened, I'll try and get to them, especially the panic thank you for finding, I may have questions and not agree

[2018-04-06 14:54] joeybloggs commented on #31
This was one that I struggled with a bit and was done on purpose see:

https://github.com/go-playground/form/issues/19
https://github.com/go-playground/form/releases/tag/v3.0.0

in hindsight perhaps I should have made it a configurable option...that can still be done though.

[2018-04-06 15:02] powerman commented on #31
Why is that? It's very easy to tell - just use same rules as Go itself. If there are **two *different* fields** in a struct you're decoding to and just **one input value** then why do you think anyone may like to put this value into both fields? Go doesn't do this, and we shouldn't too.

Of course, there is another one, perfectly legal, use case - when field is just one, but it has two (or more) d

[2018-04-06 15:30] joeybloggs commented on #31
I agree, for the most part, The trouble ATM is this library does not do a lookahead to know if there is another field with the same name to know that there are two fields which can also be quite an undertaking when multiple embeds exist I will have to look into 2 options:

1. look at extending the cache logic, which is difficult as many values can be uninitialized and need to be initialized before

[2018-04-06 15:47] powerman commented on #31
What's for? Why you can't just decode each value as is and let Go handle embedded fields for you?

In any case, just FYI, I'm now working on implementing #28 as a wrapper for this package (this doesn't mean I give up on idea to turn it into PR to this package if you'll decide you want it), and while it's still WIP and not stabilized yet I've already implemented user's data structure introspection

[2018-04-06 21:51] powerman commented on #28
Here is initial version of strict validation: https://github.com/powerman/urlvalues
At a glance it should be compatible with all decoder's features except Custom Type registration (I didn't tried to implement this yet, may be trivial or not) and support of decoding into interface type (hard to implement and probably no real sense to have strict validation in this case at all).

There is benchmark

[2018-04-08 17:02] #29 closed

[2018-04-08 17:02] #30 closed

[2018-04-08 17:48] powerman opened #33 "Single array param set all elements instead of one"
[code]

[2018-04-08 17:55] powerman commented on #33
3rd case is correct, btw, it was included just in case.

[2018-04-08 17:56] joeybloggs commented on #33
Thanks I noticed and already fixing

[2018-04-08 18:06] powerman commented on #33
Actually I believe mixing `array/slice` with `array/slice[idx]` should be illegal. As order of keys in url.Values is undefined decoding params `var=10&var[0]=20` may result either in `[20]` or in `[20,10]`. (My strict checker in https://github.com/powerman/urlvalues already return error in this case, but this should be implemented in form too.)

[2018-04-08 18:11] joeybloggs commented on #33
Actually, in the library it should be determined, I set it up to process `array/slice` first then it assigns`array/slice[idx]` as they are obviously more specific.

although it's not likely or recommended to mix, I will support it because internally it is ordered, otherwise I would agree with you.

[2018-04-08 18:25] #33 closed

[2018-04-09 14:44] mifanich opened #34 "Missing pointer value "0" while encoding struct"
type T struct {
	X *uint8 `form:"x,omitempty"`
}

func main() {
	tx := uint8(0)
	x := T{&tx}
	encoder := form.NewEncoder()
	values, _ := encoder.Encode(x)
	fmt.Println(values) // blank map
}

If I try to set value to 0, encoder ignores this field

[2018-04-09 14:52] joeybloggs commented on #34
Thanks @mifanich for reporting, I suspect  it's a bug in the omitempty logic thinking 0 is the default value after dereference, hopefully just an order of operations issue.

[2018-04-09 15:46] mifanich commented on #34
@joeybloggs  When do you plan to fix it

[2018-04-09 15:55] joeybloggs commented on #34
As soon as I find time, hopefully this evening after work.

[2018-04-09 16:14] mifanich commented on #34
thank you very much

[2018-04-10 05:13] #34 closed

[2018-04-10 05:34] joeybloggs commented on #34
@mifanich  this should be fixed in v3.1.3 release, please let me know :)

[2018-04-10 13:14] mifanich commented on #34
It works now. Thanks!

[2018-08-16 13:53] yatniel7 opened #37 "Support map[string]interface{} decode, not just Struct"
Support map[string]interface{} decode, not just Struct

[2018-08-16 13:54] yatniel7 commented on #37
Direct support for decoding to map[string]interface

[2018-09-10 15:12] joeybloggs commented on #37
I've been looking into this a bit, it seems possible, but keep in mind that the value portion of the map will always be 1 of 2 values:

- string
- []string

because there is no type information available.

[2019-01-29 23:03] vearutop opened #39 "Custom decoder accepts slice of string but expected to return single item"
What is the reason to feed custom decoder with slice of strings?

[code]
Decoder function is called at
[code]
https://github.com/go-playground/form/blob/master/decoder.go#L191

If target field is a slice, `setFieldByType` is called in a loop with `idx` iterating through `[]string`. Internally custom decoder is called with that full `[]string` and without any mention of current `idx`.

How decoder

[2019-01-30 03:34] joeybloggs commented on #39
Hey @vearutop apologies in advance for formatting, answering from my phone :)

so each value that is to be decoded is really a URL.Value which is type map[string][]string, that’s where the array of strings comes from that’s passed to the customer decoder functions.

As for not passing idx is because it’s not really needed because the custom decoding function is looked up by namespace, so there are

[2019-02-01 06:42] vearutop commented on #39
Here is an example:
[code]
I would expect such test to pass, but it fails with:
[code]

[2019-02-03 01:45] joeybloggs commented on #39
ah now I understand, thanks @vearutop it is indeed a bug, fixing ASAP

[2019-02-03 01:46] joeybloggs commented on #39
As a side note here is an alternative that will also give you what you want:
[code]

[2019-02-03 01:49] #39 closed

[2019-03-08 09:05] aeneasr commented on #37
I just stumbled on this - can you go into why it can only be 1 of 2 values? The JSON decoder is capable of properly identifying number/int/float against `map[string]interface{}` - what's different here?

[2019-03-08 09:06] aeneasr commented on #37
In fact, it seems like [this](https://github.com/go-playground/form/pull/36) patch does exactly that, any reason for it not being merged yet?

[2019-03-09 16:21] joeybloggs commented on #37
@aeneasr to answer your questions:

1. JSON itself has types in its design, see [here](https://cswr.github.io/JsonSchema/spec/basic_types/), and so is why the JSON decoder can identify types; however, it only decodes to 3 types bool, float64 and string because JSON does not provide detailed type information like `uint8`. Form information is all strings an arrays of strings and so there is no type

[2019-03-09 16:21] #37 closed

[2019-04-27 13:41] andreybuzin opened #41 "How to use it with ObjectId?"
1. I post my html form with ObjectId
`<input name="SomeID" value="5cb4709675c9931e538a62f3">`
2. Next I use this decoder:
[code]

I have a struct such as:
[code]

3. I am getting this error:
[code]

Can you show me some example, how I should parse this string with ObjectId?

[2019-04-28 15:21] deankarn commented on #41
Hey @andreybuzin

because `primitive.ObjectID` is not a standard type you have to register a `CustomTypeFunc`, here is an example:
[code]

[2019-04-30 12:34] andreybuzin commented on #41
Thanks a lot @deankarn. It works!

[2019-04-30 12:53] #41 closed

[2019-08-02 17:17] aight8 opened #42 "String array should replace the existing one"
Example:
[code]
If I decode the HTTP post values to this struct, the Field property gets appended by the values in the post data instead of replaced.

**The use case is the following:**
I pre-fill the Form struct with data based on the DB entity. I use this struct also in the view template to render the values.

[2019-08-18 16:06] deankarn commented on #42
Hey @aight8 this was done on purpose so that the user had full control over the decoding process, I can see how it would be convenient for deeper nested structures to have this done automatically if desired though.

I can look into adding a decode option so that this behaviour can be configured via an option.

[2019-11-17 14:52] mihaiav opened #45 "decoder panics on empty url value"
The code below panics with index out of range. It seems a trivial / common use case so I wonder why it wasn't caught earlier.
[code]

[2019-11-17 18:29] deankarn commented on #45
Thanks for reporting @mihaiav will fix ASAP

[2019-11-17 18:35] #45 closed

[2020-03-18 09:52] RelicOfTesla opened #47 "map[string]string encode"
[code]
[code]

i will httpPost(xxx,  encodeIt(x))

[2020-03-18 10:18] RelicOfTesla commented on #47
[code]

[2020-10-12 09:22] badoux opened #48 "Pointer to int and zero value"
[code]

When providing empty value for "test_string" parameter(r.Form["test_string"]=""), Request.TestString will be not nil and set with the zero value "" as wanted.

But when "test_int" is provided with an empty string value(r.Form["test_int"]=""), Request.TestInt is still nil and shloud rather be set to the zero value 0.

It works great with Gorilla Schema

[2020-10-12 15:47] deankarn commented on #48
@badoux could you provide a more complete example? I'm not 100% clear on the issue you are describing.

[2020-10-12 15:57] badoux commented on #48
Hi @deankarn

Here is a full example :

[code]

• `r.Str` is not nil with an empty string as value (zero value of the type string)
• `r.ID`  is still nil and i expect it to be set to 0 (zero value of the type int)

[2020-10-14 09:07] badoux commented on #48
Gorilla schema has a ZeroEmpty method to deal with this case :
https://godoc.org/github.com/gorilla/schema#Decoder.ZeroEmpty

[2020-10-22 02:57] gunawanwijaya commented on #48
why you expect the `r.ID` to be 0?
i expect that default value of *int is nil bcs no way to parse "" to any of int,
and how you differentiate between id "0" and id ""?

[2020-10-22 06:07] deankarn commented on #48
Hey @badoux

As @gunawanwijaya eluded to if the key exists with no value, the value IS blank. There is no way to differentiate using URL.Values

But for an int, if it’s not a valid int then we can differentiate.

I’m not sure I want to add an option like that at this time. If you want the int to be 0 even if no value is sent you can change your strict from +int to just int as the default value wil

[2020-10-28 17:56] badoux commented on #48
@gunawanwijaya

Simply because i need to know if a value is given or not.
If no value is given it's nil, otherwise it's the given value or 0 if parsing is not possible.

Like @deankarn said "if the key exists with no value, the value IS blank", and if it's blank... it's not nil.

Seems logical to me but i can understand, i will stick to gorilla/schema for this usecase cause i need it and its the d

[2020-12-14 11:34] rabodaber opened #49 "Panic on Encode map[string]interface{} inside map[string]interface{}"
Error

[code]

[2021-01-29 17:50] litvi-l opened #50 "Invalid data in float type array fields reports incorrect text"
When passing in an array of float values where one of them (but not the first one) leads to parsing error, the error message will always mention the first array element instead.
 Notice how https://github.com/go-playground/form/blob/master/decoder.go#L320 and https://github.com/go-playground/form/blob/master/decoder.go#L332 reference ```arr[0]``` as opposed to other checks, which all use ```arr[id

[2021-02-26 09:15] mihaiav opened #52 "maps decoding fails silently"
I'm using this package on a API framework that does the encoding/decoding somehow automatically. Unfortunately I've found that maps are not supported. My map is of type map[interface{}]interface{} but I've found that simple map[string]string are not supported either.

[Play](https://play.golang.org/p/L9ZkYk-i3-D)
[code]

[2021-02-26 13:18] Exitialis commented on #49
#53 Made a fix for that problem.

[2021-02-28 18:33] #50 closed

[2021-03-01 04:02] #49 closed

[2021-04-06 06:41] tshubham7 opened #55 "Multipart form?"
### Package version eg. v9, v10:

### Issue, Question or Enhancement:
can you tell me, how can i use this for multipart files??

### Code sample, to showcase or reproduce:

[code]

[2021-04-07 04:11] deankarn commented on #55
@tshubham7 I'm not 100% clear on your use case. It looks like you incoming data is in JSON format.

[2021-07-08 05:01] deankarn commented on #17
This should now be closed by #56

[2021-07-08 05:01] #17 closed

[2021-09-30 16:25] Loyalsoldier opened #58 "What about supporting case-insensitive key?"
### Package version eg. v9, v10:

v4

### Issue, Question or Enhancement:

I want these two requests work at the same time:

[code]

In other words, what about supporting case-insensitive key?

### Code sample, to showcase or reproduce:

[code]

[2022-01-20 07:30] tim0991 commented on #49
can't decode this nested url.Values to  nested map

[2022-07-14 10:11] thank243 opened #59 "Is there anyway parse url.values direct to map[string]any"
So How can I parse formdata to map[string]any directly like laravel?

[2022-07-26 00:28] deankarn commented on #59
not sure what the ask is here?

[2022-07-26 02:32] thank243 commented on #59
I must use a struct to unmarshal a form data. So there is a method to unmarshal a form data to a anymouns map[string]any ？

[2022-11-08 05:48] #59 closed